body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(./arriere-plan.png) no-repeat center / cover;
}

/******************************************** 1 ERE PARTIE *************************************************/
a{
    color: black;
}
header{
    margin-top: 10px;
    background: white;
}
.debut{
    padding: 15px 30px 0px 30px ;
    
}
.debut2{
    padding: 10px;
}
.blue{
    border: solid blue 1px;

}
.black{
    border: solid black 1px;

}
.size{
    width: 100%;
}
button{
   width: 100px;
}
section h1{
    font-size: 5rem;
}
section{
    color: white;
}

.background-e81aa8{
    background: #e81aa8;
}
.background-c12127{
    background: #c12127;
}
.section1{
    margin-left: auto;
  margin-right: auto;
  
}

.debut div p {
    margin-left: 10px;
}

.section-1-button-1{
   padding: 5% 0;
   border-bottom: solid #fa8717 5px;
   color: white;
}
.section-1-button-2{
   padding: 5% 0;
   border-bottom: solid #b30ad2 5px;
   color: white;
}
/******************************************* 1 ERE PARTIE *************************************************/



@media(max-width:450px){
    section h1{
        font-size: 3rem;
    }
    .debut{
       padding: 0;
        
    }
    .barre-liens{
        margin: 4% 5%;
    }
}
@media(min-width:450px){
   .barre-liens  a{
       margin-left: 10px;
   }
}
